/* BODY */
body {
  font-family: Arial, sans-serif;
  background-color: #f7f9ff;
  color: #222;
  margin: 30px;
}

/* HEADER */
header h1 {
  font-size: 2.2rem;
  color: #002b80;
  text-align: center;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

header {
  padding: 10px 0;
  border-bottom: 3px solid #ccd5ff;
  margin-bottom: 20px;
}


/* SUBHEADER  */
h2 {
  text-align: center;
  color: #003399;
  font-size: 1.4rem;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 10px;
  padding-bottom: 6px;
  border-bottom: 2px solid #ccd5ff;
  letter-spacing: 0.5px;
}

/* NAV */
nav {
  text-align: center;
  margin-bottom: 20px;
  
}

nav a {
  text-decoration: none;
  color: #003399;
  margin: 0 8px;
  padding: 4px 6px;
  border-bottom: 2px solid transparent;
  transition: 0.2s ease-in-out;
}

/* NAV HOVER */
nav a:hover {
  border-bottom: 2px solid #003399;
}


/* LISTS */
ul {
  list-style-type: square;
  margin-left: 30px;
}

/* TABLE */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

th, td {
  border: 1px solid #999;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #d9e1ff;
}

tr:nth-child(even) {
  background-color: #f2f5ff;
}

/* FOOTER */
footer {
  margin-top: 40px;
  text-align: center;
  font-size: 0.9em;
  color: #555;
  border-top: 1px solid #000000;
  padding-top: 10px;
}

/* Optional Style */
.custom_page {
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #ccd5ff;
  border-radius: 8px;
}

/* CENTER MAIN CONTENT */
.main-content {
  max-width: 900px;
  margin: 0 auto;       
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #ccd5ff;
  border-radius: 8px;
}

.main-content ul {
  list-style-type: square;
  margin-left: 30px;
}


/* QUIZ FEEDBACK */

.correct {
  color: green;
}

.incorrect {
  color: red;
}

.pass {
  color: green;
  font-weight: bold;
}

.fail {
  color: red;
  font-weight: bold;
}

.toc-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  list-style: none;

}

.toc-grid a {
  display: block;
  background-color: #eef3ff;
  padding: 16px;
  border-radius: 8px;
  color: #003399;
  font-weight: bold;
  text-decoration: none;
  border: 1px solid #ccd5ff;
  transition: 0.2s;
}

.toc-grid a:hover {
  background-color: #dce7ff;
  transform: scale(1.03);
}

.toc-grid ul {
  list-style-type: none;
  padding: 0;
}